@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-Light.ttf');
}

@font-face {
  font-family: "Bebas-Neue-Regular";
  src: url('./fonts/Bebas-Neue-Cyrillic.ttf');
}

.main-conteiner{
  display: grid;
  grid-template-areas: 
    'b b a' 
    'b b c' 
    'b b c';
}

.table-image{
  position: relative;
  grid-area: b;
}

.table-image-top{
  padding-top: 15px;
  z-index: 1;
}

.table-image-bottom{
  bottom: 36px;

  position: relative;

  z-index: 99;
}

.button{
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;

  background-color: #A6FFFF;
}

.button.up{
  top: 525px;
  left: 30%;
  z-index: 100;
}

.button.down{
  top: 525px;
  left: 50%;
  z-index: 100;
}

.page-text{
  width: 500px;
  grid-area: a;
}

.page-text-heading{
  width: 100%;

  font-family: 'Ubuntu', sans-serif;
  font-size: 62px;
  font-weight: 300;
  color: #0B64FE;

  text-align: left;
  margin: 0;
}

.page-text-content{
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 37.4px;
  color: #181818;

  text-align: left;
  margin-top: 68px;
  margin-bottom: 0;
}

.page-text-extension{
  grid-area: c;
  margin-top: 0;
}

.page-text-content-extension{
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 37.4px;
  color: #181818;

  text-align: left;
  margin: 0;
}

@media (max-width: 321px){
  .main-conteiner{
    width: 320px;

    display: grid;
    grid-template-areas: 
      'a a' 
      'a a' 
      'b b'
      'c c';
  }

  .page-text{
    width: 320px;
  }

  .page-text-heading{
    font-family: "Bebas-Neue-Regular", sans-serif;    
    font-size: 38px;
    width: 320px;
    box-sizing: border-box;
    padding-right: 50px;
  }

  .page-text-content{
    margin-top: 25px;
    font-size: 16px;
    line-height: 27.2px;
    width: 320px;
    box-sizing: border-box;
    padding-right: 23px;
  }

  .table-image{
    left: -90px
  }

  .button{
    width: 61px;
    height: 61px;
  
    font-size: 12px;
  }
  
  .button.up{
    top: 190px;
    left: 30%;
    z-index: 100;
  }
  
  .button.down{
    top: 190px;
    left: 50%;
    z-index: 100;
  }

  .page-text-extension{
    width: 320px;
  }

  .page-text-content-extension{
    font-size: 16px;
    line-height: 27px;

    box-sizing: border-box;
    padding-right: 23px;
  }

  .table-image-bottom{
    bottom: 19px;
  }
}